body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #314d52;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
button {
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    background-color: green;
    border:none;

}
button:hover {
background-color: chartreuse;
}


.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    width: 20%;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: #444;
}

.product img {
        max-width: 100%;
        height: auto;
        height: auto;
        box-shadow: #444
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    color: blue;
    font-size: 14px;
}